.btn-wrapper {
    display: inline-block;
    animation: buttonUp ease-in-out 2s;
    opacity: 0;
    animation-delay: 8.5s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    // position: absolute;
    margin-top: 5rem;

    @media only screen and (max-width: 600px) {
        margin-top: 3rem;
    }
}

.btn { 

    &,
    &:link,
    &:visited {
        animation: buttonPulse 1.5s infinite; 
        border: none;
        border-radius: 10rem;
        cursor: pointer;
        font-family: 'UniversLTStd-Light';
        font-size: 1.3rem;
        letter-spacing: 1px;
        opacity: 1;
        padding: 1.5rem 3rem;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        transition: all ease-in-out .1s;

        @media only screen and (max-width: 1500px) {
            padding: 1.3rem 2.8rem; 
            font-size: 1.2rem;
        }

        @media only screen and (max-width: 900px) {
            font-size: 1.1rem;
            padding:  1.2rem 2.5rem;
        }

        @media only screen and (max-width: 600px) {
            font-size: 1rem;
            padding: 1.1rem 2rem;
        }
    }

    &:hover {
        animation: buttonHover ease-in-out .22s;
        animation-fill-mode: forwards;
        
    }

    &:active {
        animation: buttonAcive ease-in-out .22s;
        animation-fill-mode: forwards;
    }

    &--white {
        background: rgb(235, 252, 245);
        color: rgb(0, 68, 53);
    }

    &--green {
        background-color: rgb(0, 168, 118);
        color: rgb(235, 252, 245);
    }
}