@keyframes shake {
    30% {
        transform: rotateZ(-4deg);
    }

    65% {
        transform: rotateZ(4deg);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes navIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes buttonPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    70% {
        box-shadow: 0 0 0 13px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    }
}

@keyframes buttonHover {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: 4px 4px 5px rgba(0, 68, 53, .4);
        transform: translateY(-5px);
    }
}

@keyframes buttonActive {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: 2px 2px 3px rgba(0, 68, 53, .4);
        transform: translate(-50%, 95%);
    }
}

@keyframes buttonUp {
    0% {
        opacity: 0;
        transform: translateY(30rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}