.u-gradient-font {
    background-image: linear-gradient(to right bottom, #007443, #00da86);
    background-clip: text;
    -webkit-background-image: linear-gradient(to right bottom, #007443, #00da86);
    -webkit-background-clip: text;
    color: transparent;
}