*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.blog-main {
    margin-left: 22%;
    font-family: 'Zilla Slab', serif;

    @media only screen and (max-width: 1200px) {
        margin-left: 25%;
    }

    @media only screen and (max-width: 900px) {
        margin-left: 0; 
    }
}

.blog-section {
    padding: 2% 20% 0 17%; 

    @media only screen and (max-width: 1500px) {
        padding: 2.5% 15% 0 14%;
    }

    @media only screen and (max-width: 1200px) {
        padding: 2.5% 12% 0 12%;
    }

    @media only screen and (max-width: 600px) {
        padding: 5% 5% 0 5%;  
    }
}
