.blog-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Zilla Slab', serif;
    width: 22%;
    height: 100%;
    background: #00b57b;

    @media only screen and (max-width: 1500px) {
        width: 28%;
    }

    @media only screen and (max-width: 1200px) {
        width: 32%;
    }

    @media only screen and (max-width: 900px) {
        display: none;
    }

    &__main-content {
        padding: 3rem;
        color: white;
        font-size: 1.65rem;
        font-weight: 500;

        @media only screen and (max-width: 1500px) {
            font-size: 1.5rem;
        }

        @media only screen and (max-width: 1200px) {
            font-size: 1.45rem;
            padding: 2rem;
        }
    }

    &__main-content a {
        text-decoration: none;
        color: white;

        &:visited {
            color: white;
        }

        &:hover {
            color:#abfde3;
        }
    }

    ul {
        list-style-type: none;
    }

    &__el {
        margin-bottom: 1.5rem;
    }

    &__inner-ul {
        margin-left: 1.5rem;

        &--el {
            margin-bottom: 1.2rem;
        }

        @media only screen and (max-width: 1200px) {
            margin-left: 1.5rem;
        }

        @media only screen and (max-width: 900px) {
            margin-left: 1.5rem;
        }
    }

    &__footer {
        margin-bottom: 2rem;
    }
}

.hamburger-nav {
    display: none;
    cursor: pointer;
    text-align: center;

    &__wrapper {
        display: inline-block;
        margin-top: .35rem;
    }

    &__bar {
        background: rgb(66, 66, 66);
        height: .3rem;
        width: 2.5rem;
        margin: .4rem;

        @media only screen and (max-width: 600px) {
            background: white;
        }
    }

    @media only screen and (max-width:900px) {
        display: inline-block;
        position: fixed;
        top: 1.7rem;
        right: 1.7rem;
        z-index: 10;
    }

    @media only screen and (max-width: 600px) {
        background: #00b57b;
        width: 100%;
        margin: 0 auto;
        top: 0;
        right: 0;
        padding: .2rem 0;
        box-shadow: 0 2px 3px rgba(black, .5);
    } 
}

.back-to-main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 80%;
    margin: 3rem auto 0 auto;
    padding: .2rem 1rem;
    font-family: 'Zilla Slab';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    border: .2rem solid white;
    transition: all .4s ease;

    &:hover {
        color: #00b57b;
        background: white;
    }

    &:hover &__hamburger div {
        background: #00b57b;
    }
    
    &__hamburger {
        display: inline-block;

        &--first,
        &--second,
        &--third {
            background: white;
            width: 2rem;
            height: .2rem;
            margin-bottom: .3rem;
        }

        &--third {
            margin-bottom: 0;
        }
    }

    &__text {
        display: inline-block;
        position: relative;
        left: -5%;
        margin: 0 auto;

        @media only screen and (max-width: 1000px) {
            font-size: 1.15rem;
        }
    }

    @media only screen and (max-width: 1500px) {
        font-size: 1.4rem;
    }

    @media only screen and (max-width: 1200px) {
        font-size: 1.35rem;
    }
}

.back-to-website {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.3rem;

    &:hover {
        text-decoration: underline;
        color: white;
    }

    &__link {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-family: 'Zilla Slab';
        font-weight: 600;

        @media only screen and (max-width: 1000px) {
            font-size: 1.15rem;
        }
    }
}

.blog-socials {
    text-align: center;

    a {
        text-decoration: none;
    }

    &__icon {
        width: 2.7rem;
        background: #00ffae;
        border-radius: .4rem;
        padding: .3rem;
        margin-right: .15rem;

        &:hover {
            background: white;
        }

        @media only screen and (max-width: 1500px) {
            width: 2.45rem;
        }

        @media only screen and (max-width: 1200px) {
            width: 2.3rem;
        }
    }
}


// Styles for small screens

.blog-nav-sm {
    display: none;
    font-size: 1.7rem;
    font-family: 'Zilla Slab';
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, .3);
    height: 100vh;
    width: 58%;
    padding: 3rem;
    position: fixed;
    right: -150%;
    z-index: 9;
    background: #00b57b;
    transition: all ease .7s;

    a,
    a:visited {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #00ffae;
    }

    li {
        list-style-type: none;

        &:hover {
            color: #00b57b;
        }
    }

    &__wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    &__top {
        text-decoration: none;
        text-transform: uppercase;
        border: .2rem solid white;
        padding: .2rem 1rem;
        width: 70%;
        margin: 1.5rem auto 0 auto;
        text-align: center;

        @media only screen and (max-width: 900px) {
            font-size: 1.6rem;
        }

        @media only screen and (max-width: 480px) {
            width: 90%;
        }

        &:hover {
            background: white;
            color: #00b57b !important;
        }
    }

    // &__main {

    // }

    &__footer {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.35rem;

        &--text {
            display: inline-block;
            margin-bottom: 1rem;
        }
    }

    &__outer > li {
        font-weight: 600;
        margin-top: 1.7rem;
        margin-bottom: 1.4rem;
    }

    &__inner {
        margin-left: 2rem;
        font-weight: 400;
        text-transform: capitalize;

        li {
            margin-bottom: 1.2rem;
        }
    }

    &-in {
        right: 0;
    }

    @media only screen and (max-width: 900px) {
        display: block;
        padding: 6rem 2rem 2rem 2rem;
    }

    @media only screen and (max-width: 600px) {
        width: 100%;
        font-size: 1.6rem;
    }

    @media only screen and (max-width: 480px) {
        padding: 5rem 2rem 2rem 2rem;
    }
}

.blog-socials-sm {

    display: inline-block;

    a,
    a:hover {
        text-decoration: none;
    }

    &__icon {
        width: 3rem;
        border-radius: 7px;
        padding: .5rem;
        background: #abfde3;

        &:hover {
            background: transparent;
        }
    }
}

.back-to-main-sm {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}


// Styles for main navigation page

.nav-page-chapter {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 4rem 5.5rem 4.5rem 5.5rem;
    margin-bottom: 2rem;
    color: #6b6b6b;

    a,
    a:visited {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        color: #01a370;
    }

    @media only screen and (max-width: 1200px) {
        padding: 3rem 4.5rem;
    }

    @media only screen and (max-width: 480px) {
        padding: 1.8rem 3rem 2.5rem 3rem;
    }

    &__heading {
        font-weight: 500;
        font-size: 2.3rem;

        @media only screen and (max-width: 1200px) {
            font-size: 2rem;
        }

        @media only screen and (max-width: 480px) {
            font-size: 1.6rem;
        }
    }

    &__ul {
        list-style-type: none;
        margin-left: 2.5rem;
        margin-top: 1.5rem;
        font-size: 2rem;

        @media only screen and (max-width: 1200px) {
            font-size: 1.8rem;
        }

        @media only screen and (max-width: 480px) {
            font-size: 1.4rem;
            margin-left: 2rem;
            margin-top: 1rem;
        }
    }

    &__li {
        // font-weight: 500;
    }
}