.blog-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Zilla Slab', serif;
    width: 22%;
    height: 100%;
    background: #00b57b;

    &__main-content {
        padding: 3rem;
        color: white;
        font-size: 1.63rem;
        font-weight: 500;
    }

    a {
        text-decoration: none;

        &:visited {
            color: white;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
    }

    &__el {
        margin-bottom: 1.2rem;
    }

    &__inner-ul {
        margin-left: 2.5rem;

        &--el {
            margin-bottom: .4rem;
        }
    }
}

.back-to-website {
    text-decoration: none;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.blog-socials {
    position: relative;
    bottom: 10px;
    text-align: center;

    a:hover {
        text-decoration: none;
    }

    &__icon {
        width: 2.7rem;
        background: #00ffae;
        border-radius: .4rem;
        padding: .3rem;
        margin-right: .15rem;

        &:hover {
            background: white;
        }
    }
}