.header {
    height: 98vh;
    background-image: url('../img/header.jpg'); 
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    @media only screen and (max-width: 1200px) {
        height: 100vh;
    }
}

.header-profile-img {
    width: 11.5rem;
    border-radius: 50%;
    box-shadow: 7px 7px 5px rgb(0, 68, 53);
    opacity: 0;
    animation: fadeIn 5s;
    animation-delay: 5.3s;
    animation-fill-mode: forwards;
    margin-bottom: 5rem;

    @media only screen and (max-width: 1500px) {
        width: 9rem;
        margin-bottom: 4rem;
    }

    @media only screen and (max-width: 900px) {
        width: 8rem;
        margin-bottom: 2.2rem;
        box-shadow: 5px 5px 3px rgb(0, 68, 53);
    }

    @media only screen and (max-width: 600px) {
        width: 6.2rem;
        box-shadow: 3px 3px 2px rgb(0, 68, 53);
    }

    @media only screen and (max-width: 480px) {
        animation: fadeIn ease-out 2.7s;
        animation-delay: .3s;
        animation-fill-mode: forwards;
    }
}

.back-to-blog {
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-decoration: none;
    font-family: "UniversLTStd-Light";
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #007250;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px rgba(34, 34, 34, 0.3);
    background: #ebfcf5;
    border-radius: 5px;
    padding: .7rem 1.5rem;
    letter-spacing: .1rem;
    opacity: 0;
    animation: navIn 1.5s;
    animation-fill-mode: forwards;
    // animation-delay: 4s;

    &::after {
        content: "new";
        background: #e4263f;
        color: white;
        font-size: .8rem;
        margin-left: .2rem;
        padding: .2rem;
        position: absolute;
        top: -.65rem;
        // left: 5rem;
        border-radius: 2px;
        animation: blog-new 2s 1s infinite;

        @media only screen and (max-width: 600px) {
            margin-left: 0;
            font-size: .6rem;
        }
    }

    @media only screen and (max-width: 600px) {
        padding: .5rem .9rem;
        font-size: .9rem; 
        line-height: .9rem;
    }

    @media only screen and (max-width: 480px) {
        opacity: 1;
        animation: none;
    }
}

