.header-nav {
    font-family: 'UniversLTStd-Light';
    font-size: 1.23rem;

    @media only screen and (max-width: 1200px) {
        visibility: hidden;
    }

    & ul {
        display: flex;
        opacity: 0;
        position: absolute;
        top: 2rem;
        right: 2rem;
        list-style-type: none;
        animation: navIn ease-in-out 1.5s;
        animation-fill-mode: forwards;
        animation-delay: 8s;
    }

    &__el {

        & a {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: rgb(235, 252, 245);
            padding: 0 0.8em;
            transform: skewX(-5deg);
            text-shadow: 2px 2px 2px rgb(0, 68, 53);
        }
        
        &:hover a {
            transform: skewX(0);
            animation: shake .42s;
            color:white;
            text-shadow: none;
        }
    }

    &__el:not(:last-child) {
        border-right: 1px solid white;
    }
}
